@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Mrs+Saint+Delafield&family=Roboto:wght@300;400&display=swap');

/* Global settings start */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 18px;
   line-height: 23px;
   font-family: 'Roboto', sans-serif;
   color: var(--primaryBlack);
 }

 :root {
  --primaryColor: #F2EEE8; 
  --secondaryColor: #C19A5B;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --primaryBlack: #171717;
  --secondaryBlack: #34342e;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

body {
  padding-top: 50px;
  background-color: var(--mainWhite);
  color: var(--primaryColor);
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Cinzel', serif;
  /* font-size: 6em;
  line-height: 1.5em; */
  color: var(--secondaryBlack);
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-family: 'Mrs Saint Delafield', cursive;
  /* font-size: 6em;
  line-height: 2em; */
  letter-spacing: 8px;
  color: var(--secondaryColor);
  font-weight: 400;
  opacity: .7;
}

/* h3 {
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 1.5em;
  line-height: 1.5em;
  color: var(--secondaryColor);
} */
/* Global settings end */

/* Global classes start */
.p1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: bold;
}

.p2 {
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  line-height: 1.3em;
  color: var(--secondaryBlack);
  text-align: left;
}

.center-align {
  text-align: center !important;
}

.container, .container-center {
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.no-padding {
  padding: 0 !important;
}

.container-center {
  text-align: center;
}

/* .text-container {
  max-width: 300px;
  margin: 0 auto;
} */

  /* Global media queries start */
  @media screen and (max-width: 480px) {
     h1 {
    font-size: 2.5rem;
    line-height: 1em;
    }

    h2 {
      font-size: 1.6em;
      line-height: 1.5em;
    }

    h3 {
      font-size: 1.3em;
      line-height: 1.5em;
    }

    .container, .container-center {
      padding: 30px;
    }
  }

   @media screen and (max-width: 300px) {
    h1 {
    font-size: 2em;
    line-height: 1.5em;
    }
  }

  @media screen and (max-width: 250px) {
    h1 {
    font-size: 1.8em;
    line-height: 1.5em;
    }
  }
  /* Global media queries end */
/* Global classes end */

/* Navbar start */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .8rem 0;
  background-color: transparent;
  /* background-color: var(--primaryColor); */
  color: var(--primaryBlack);
  z-index: 2;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 0 10px;
  /* the above padding was 50px - @10px menu & logo don't touch content and sit just outside content on desktop */
  margin: 0 auto;
}

.nav-main-right {
  display: flex;
  align-items: center;
}

.nav-btn {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 3;
}

.p2-nav {
  color: var(--secondaryColor);
  /* color: var(--mainWhite); */
  font-size: .8em;
  line-height: 1.3em; 
}

.open {
  /* color: var(--secondaryColor) !important; */
  transition: all ease-in-out .3s; 
}

.nav-icon {
  position: relative;
  font-size: 1.5rem;
  color: var(--primaryBlack);
  transform: rotate(180deg);
  transition: all ease-in-out .3s;
  z-index: 3;
}

.nav-links {
  font-family: "Roboto", sans-serif;
  font-size: .875rem;
  text-decoration: none;
  color: var(--primaryBlack);
  transition: all ease-in-out .2s;
}

.nav-links:hover {
  font-weight: bold;
}

.nav-links.right {
  margin: 0 1rem;
}

.navBar-items {
list-style:  none;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 background-color: var(--mainWhite);
 position: fixed;
 top: 0;
 right: 0;
 height: 100vh;
 width: 100%;
 z-index: 2;
 transform: translateX(100%);
 transition: all .5s ease-in-out;
}

.open-menu {
  transform: translateX(0%);
}

.navBar-link {
 font-family: "Roboto", sans-serif;
 font-size: 1rem;
 text-decoration: none;
 color: var(--primaryBlack);
 font-weight: bold;
}

.navBar-link:active {
  color: var(--secondaryColor);
}


@media screen and (max-width: 480px) {
  .nav-main {
    padding: 0 25px;
  }
}
  /* Navbar media queries end */
/* Navbar end */

/* Hero image */
.landingHero {
  min-height: calc(100vh - 50px);
  background: linear-gradient(rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48)), url("https://res.cloudinary.com/danieltisue/image/upload/v1633889015/Bough_and_Pine/jesse-donoghoe-optimized-unsplash.jpg") center/cover no-repeat;
  
}

/* Hero image & text end */

/* Banner start ALT*/
.banner-text-wrapper {
  width: 100%;
  text-transform: capitalize;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  margin: 0 auto;
}

.title-one, .title-two, .subtitle, .banner-text, .div1 {
  /* border: 1px solid red; */
  width: 100%;
}

.title-one {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: left;
  font-size: 3rem;
  padding: 30px 0;
  color: var(--primaryColor);
  /* text-shadow: 1px 1px 3px #d2d2d2; */
}

.title-two {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  font-size: 3rem;
  margin-top: -10px;
  padding: 20px;
  color: var(--primaryColor);
  /* text-shadow: 1px 1px 3px #d2d2d2; */
}

.subtitle {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  font-size: 4rem;
}

.banner-text {
  font-size: .8em;
  line-height: 1.3em;
  color: var(--secondaryBlack);
  grid-row: 4 / 6;
  grid-column: 1/ 6;
  padding: 50px 25px;
  text-align: left;
}

/* Banner end ALT*/

/* Banner start */

/* .banner-text-wrapper {
  width: 100%;
  max-width: 900px;
  max-height: 50vh;
  padding: 25px;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-transform: capitalize;
} */

/* .title {
  position: relative;
  z-index: 0;
  color: var(--primaryColor);
  font-size: 5rem;
  line-height: 5.2rem;
}

.subtitle {
  position: relative;
  z-index: 0;
  top: -6rem;
}

.section-text {
  position: relative;
  z-index: 0;
  top: -8rem;
  text-align: left !important;
} */

/* MQ Banner start */
@media screen and (max-width:798px) {
  /* .title {
  position: relative;
  z-index: 0;
  color: var(--mainWhite);
  font-size: 4rem;
  line-height: 4.2rem;
  }

  .subtitle {
    font-size: 5rem;
    margin-top: 1.2rem;
    margin-bottom: -8rem;
  }

  .section-text {
    position: relative;
    z-index: 0;
    top: 1rem;
    text-align: left !important;
  } */

}

@media screen and (max-width:480px) {
  /* .title {
    font-size: 3.5rem;
    line-height: 3.7rem;
  }

  .subtitle {
    font-size: 4rem;
    margin-top: 3.2rem;
  } */
}
/* MQ Banner end */
/* Banner end */


/* Work start */
.work {
  height: 100%;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3% 0;
}

.right-section, .left-section {
  width: 50%;
}

.main-image {
  max-height: 450px;
  padding-left: 50px;
  margin-left: 20px;
  overflow-x: visible;
}
/* .featured-images-section {
  width: 100%;
  max-width: 1500px;
  overflow: visible;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.image-style {
  height: 100%;
  max-height: 400px;
  margin: 0 10px;
} */
/* Work end */

/* Services start */
.services {
  padding: 25px 0;
  text-align: center;
  height: 100%;
  min-height: 100vh;
}

.services-center {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
  margin-bottom: 3rem;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primaryColor);
  padding: 50px 15px;
  margin-top: -5rem;
  margin-bottom: 75px;
}

.services-title {
  font-size: 2.5em;
  margin-bottom: -2.5rem;
  color: var(--secondaryBlack);
  opacity: .7;
}

.services-subtitle {
  font-size: 1.8em;
}

.services-text {
  max-width: 200px;
  padding-left: 10px;
}

/* MQ Services start */
@media screen and (max-width:798px) {
  .services {
  padding: 25px 0;
  text-align: center;
  max-height: 100%;
  }

  .services-center {
    padding: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: white;
    padding: 50px 15px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width:480px) {
  .service {
    width: 75%;
  }

  .services-title {
    font-size: 2em;
    margin-bottom: -1rem;
  }

  .services-subtitle {
  font-size: 1.5em;
}
}
/* MQ Services end */
/* End of Services */

/* Process start */
.process {
  height: 100vh;
}
/* Process end */

/* Contact start */
.contact {
  height: 90vh;
}

.contact .banner-text-wrapper h1.title {
  line-height: 5.2rem;
}

.contact .banner-text-wrapper h2.subtitle {
  top: -4.8rem;
}

/* MQ Contact start */
@media screen and (max-width:798px) {
  .contact .banner-text-wrapper h1.title {
   line-height: 4.2rem;
  }
}
/* MQ Contact end */

/* Contact end */