/* Global settings start */
* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-size: 18px;
   line-height: 23px;
 }

 :root {
  --primaryColor: #e0d0cf;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #171717;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

body {
  padding-top: 50px;
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  line-height: 1.4;
}

h1 {
  font-size: 3em;
  line-height: 1.5em;
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.5em;
}
/* Global settings end */


/* Global classes start */
.p1 {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: bold;
}

.p2 {
  font-size: 1em;
  font-weight: 1.5em;
}

.container {
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
}
/* Global classes end */

/* Navbar start */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .8rem 0;
  background-color: var(--mainWhite);
  color: var(--mainBlack);
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 0 50px;
  margin: 0 auto;
}

.nav-main-right {
  display: flex;
  align-items: center;
}

.nav-btn {
  position: relative;
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 3;
}

.open {
  transform: rotate(90deg);
  transition: all ease-in-out .3s; 
}

.nav-icon {
  position: relative;
  font-size: 1.75rem;
  color: var(--mainBlack);
  transition: all ease-in-out .3s;
  z-index: 3;
}

.nav-links {
  text-decoration: none;
  color: var(--mainBlack);
  transition: all ease-in-out .2s;
}

.nav-links:hover {
  font-weight: bold;
}

.nav-links.right {
  margin: 0 1rem;
}

.navBar-items {
 list-style: none;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 background-color: var(--mainWhite);
 position: fixed;
 top: 0;
 right: 0;
 height: 100vh;
 width: 100vw;
 z-index: 2;
 transform: translateX(100%);
 transition: all .5s ease-in-out;
}

.open-menu {
  transform: translateX(0%);
}

/* .navBar-link-item {
  padding: 1rem 0;
} */

.navBar-link {
 text-decoration: none;
 color: var(--mainBlack);
 font-weight: bold;
}

    /* Navbar media queries start */
@media screen and (max-width: 768px) {
  .nav-btn {
    display: block;
  }

  .nav-links.right {
    display: none;
  }


 
}


    /* Navbar media queries end */

/* Navbar end */

/* Hero image */
.defaultHero,
.roomsHero {
  min-height: calc(100vh - 50px);
  background: url("https://res.cloudinary.com/danieltisue/image/upload/v1633889015/Bough_and_Pine/jesse-donoghoe-optimized-unsplash.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: visible;
}
.roomsHero {
  background-image: url("https://res.cloudinary.com/danieltisue/image/upload/v1633889015/Bough_and_Pine/jesse-donoghoe-optimized-unsplash.jpg");
  min-height: 60vh;
}
/* Hero image end */