* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-size: 18px;
   line-height: 23px;
 }

 :root {
  --primaryColor: #e0d0cf;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #171717;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

body {
  padding: 50px;
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  line-height: 1.4;
}

h1 {
  font-size: 3em;
  line-height: 1.5em;
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.5em;
}

.p1 {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: bold;
}

.p2 {
  font-size: 1em;
  font-weight: 1.5em;
}
