@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Mrs+Saint+Delafield&family=Roboto:wght@300;400&display=swap');

/* Global settings start */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 18px;
   line-height: 23px;
   font-family: 'Roboto', sans-serif;
   color: var(--primaryBlack);
 }

 :root {
  --primaryColor: #F2EEE8; 
  --secondaryColor: #C19A5B;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --primaryBlack: #171717;
  --secondaryBlack: #34342e;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

 html,
 body {
   /*used to prevent horizontal scrolling for images in work section & design section */
  max-width: 100%;
  overflow-x: hidden;
}

body {
  padding-top: 50px;
  /* background: rgb(193, 154, 91); */
  background: linear-gradient(180deg, rgba(193, 154, 91, .8) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 100%);
  background-color: var(--mainWhite);
  color: var(--primaryColor);
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 6em;
  line-height: 1.2em;
  color: var(--secondaryBlack);
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 6em;
  letter-spacing: 8px;
  color: var(--secondaryColor);
  font-weight: 400;
  opacity: .7;
}

/* h3 {
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 1.5em;
  line-height: 1.5em;
  color: var(--secondaryColor);
} */
/* Global settings end */

/* Global classes start */
.p1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: bold;
}

.p2 {
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  line-height: 1.3em;
  color: var(--secondaryBlack);
  text-align: left;
}

.white {
  color: var(--mainWhite) !important;
}

.italic {
  font-style: italic;
}

.all-caps {
  text-transform: uppercase !important;
}

.add-spacing {
  letter-spacing: .1rem;
}

.capitalize {
  text-transform: capitalize !important;
}

.center-align {
  text-align: center !important;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  /* overflow-x: hidden; */
}

.container-center {
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
  /* overflow-x: hidden; */
  text-align: center;
}

/* .container-center.visible {
  overflow-x: visible;
} */

.no-padding {
  padding: 0 !important;
}

.p-50 {
  padding: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-100 {
  padding-bottom: 100px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0px !important;
  background: transparent !important;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  /* Firefox */
}

/* .text-container {
  max-width: 300px;
  margin: 0 auto;
} */

  /* Global media queries start */
  @media only screen 
  and (max-width: 1024px) {
    .container-center.visible {
      overflow-x: hidden !important;
      margin: 0;
      max-width: 100%;
    }  
  }

  @media screen and (max-width: 480px) {
     h1 {
    font-size: 2.5rem;
    line-height: 1em;
    }

    h2 {
      font-size: 1.6em;
      line-height: 1.5em;
    }

    h3 {
      font-size: 1.3em;
      line-height: 1.5em;
    }

    .container, .container-center {
      padding: 30px;
    }
  }

   @media screen and (max-width: 300px) {
    h1 {
    font-size: 2em;
    line-height: 1.5em;
    }
  }

  @media screen and (max-width: 250px) {
    h1 {
    font-size: 1.8em;
    line-height: 1.5em;
    }
  }
  /* Global media queries end */
/* Global classes end */

/* Navbar start */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .8rem 0;
  background-color: rgba(193, 154, 91, .4);
  color: var(--primaryBlack);
  z-index: 2;
}        

.navbar-center {
  display: flex;
  justify-content: center;
}

.colorChange {
  background-color: transparent;
  color: var(--primaryBlack) !important;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 0 10px;
}

.nav-main-right {
  display: flex;
  align-items: center;
}

.nav-btn {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 3;
}

.p2-nav {
  color: var(--primaryBlack);
  /* color: var(--mainWhite); */
  font-size: .8em;
  line-height: 1.3em; 
  letter-spacing: .05rem;
}


.open {
  color: var(--secondaryColor) !important;
  transition: all ease-in-out .3s; 
}

.nav-icon {
  position: relative;
  font-size: 1.5rem;
  color: var(--primaryBlack);
  transform: rotate(180deg);
  transition: all ease-in-out .3s;
  z-index: 3;
}

.nav-links {
  font-family: "Roboto", sans-serif;
  font-size: .875rem;
  text-decoration: none;
  color: var(--primaryBlack);
  transition: all ease-in-out .2s;
}

.nav-links:hover {
  font-weight: bold;
}

.nav-links.right {
  margin: 0 1rem;
}

.navBar-items {
 list-style:  none;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: var(--mainWhite);
 position: fixed;
 top: 0;
 right: 0;
 height: 100vh;
 width: 100%;
 z-index: 2;
 transform: translateX(100%);
 transition: all .5s ease-in-out;
}

.open-menu {
  transform: translateX(0%);
}

.navBar-link-item {
  margin: 20px 0;
}

.navBar-link {
 font-family: "Roboto", sans-serif;
 font-size: .8rem;
 text-decoration: none;
 color: var(--primaryBlack);
 font-weight: bold;
 transition: all .2s ease-in-out;
 text-transform: uppercase;
 letter-spacing: .1rem;
}

.navBar-link:hover {
  color: var(--secondaryColor);
}

@media screen and (max-width: 1024px) {
  .navbar {  
    width: 100vw;
  }
 .nav-main {
   padding: 0 10px;
   max-width: 100vw;
   margin: 0;
 }
}


@media screen and (max-width: 480px) {
  .nav-main {
    padding: 0 10px;
    max-width: 100vw;
    margin: 0;
  }
}
  /* Navbar media queries end */
/* Navbar end */

/* Hero image */
.landingHero {
  min-height: calc(100vh - 55px);
  background: linear-gradient(rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48)), url("https://res.cloudinary.com/danieltisue/image/upload/v1633889015/Bough_and_Pine/jesse-donoghoe-optimized-unsplash.jpg") center/cover no-repeat;
  margin-top: 3px;
}

/* Hero image & text end */

/* Banner start ALT*/
.banner-text-wrapper {
  width: 100%;
  text-transform: capitalize;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  margin: 0 auto;
}

.bannerLong-text-wrapper {
  width: 100%;
  text-transform: capitalize;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  margin: 0 auto;
}

.title-one {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: left;
  font-size: 4rem;
  line-height: 1rem;
  padding: 30px 0;
  color: var(--primaryColor);
}

.titleLong-one {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: left;
  font-size: 4rem;
  line-height: 1rem;
  padding: 30px 0;
  color: var(--primaryColor);
}

.title-two {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  font-size: 4rem;
  line-height: 1rem;
  margin-top: -10px;
  padding: 20px;
  color: var(--primaryColor);
  /* text-shadow: 1px 1px 3px #d2d2d2; */
}

.titleLong-two {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
  font-size: 4rem;
  line-height: 1rem;
  margin-top: -10px;
  padding: 20px;
  color: var(--primaryColor);
  /* text-shadow: 1px 1px 3px #d2d2d2; */
}

.banner-subtitle {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  font-size: 4rem;
}

.bannerLong-subtitle {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  font-size: 4rem;
}

.banner-text {
  font-size: .8em;
  line-height: 1.3em;
  color: var(--secondaryBlack);
  grid-row: 4 / 6;
  grid-column: 1/ 6;
  padding: 50px 25px;
  text-align: left;
}

.bannerLong-text {
  font-size: .8em;
  line-height: 1.3em;
  color: var(--secondaryBlack);
  grid-row: 4 / 6;
  grid-column: 1/ 6;
  padding: 50px 25px;
  text-align: left;
}
/* Banner MQ Start*/
@media screen and (max-width:798px) {
 .banner-text {
  grid-row: 4 / 6;
  grid-column: 2 / 4;
  padding: 50px 0;
  text-align: left;
  }

   .bannerLong-text {
     grid-row: 4 / 6;
     grid-column: 2 / 4;
     padding: 50px 0;
     text-align: left;
   }

  .title-one, .titleLong-one {
    grid-column: 1 / 5;
    text-align: center;
    }
  
    .title-two,
    .titleLong-two {
      grid-column: 1 / 5;
      text-align: center;
    }
}

@media screen and (max-width:480px) {
  .title-one, .titleLong-one {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    text-align: center;
    padding: 30px 0;
    font-size: 3rem;
  }

  .title-two, .titleLong-two {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    margin-top: -60px;
    padding: 20px;
    text-align: center;
    font-size: 3rem;
  }

   .titleLong-two {
     margin-left: 0;
     padding-left: 0;
     padding-right: 0;
     text-align: center;
   }

  .banner-subtitle, .bannerLong-subtitle {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    text-align: center;
    margin-top: -40px;
    font-size: 3rem;
  }

  .banner-text, .bannerLong-text {
    grid-row: 4 / 6;
    grid-column: 1/ 6;
    text-align: left;
  }

  .banner-text {
    padding: 50px 10px;
  }

  .bannerLong-text {
    padding: 50px 10px 0;
  }
}

/* Banner MQ End*/
/* Banner end ALT*/

/* Title start */

.title-text-wrapper {
  width: 100%;
  /* max-width: 900px; */
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-transform: capitalize;
}

.title {
  color: var(--primaryColor);
  font-size: 4rem;
  line-height: 4.2rem;
} 

.subtitle {
  font-size: 4rem;
  line-height: 4.2rem;
  margin-top: -1.8rem;
}


/* MQ Title start */
@media screen and (max-width:798px) {
  /* .title {
  
  }

  .subtitle {
    
  }

  .section-text {
   
  } */

}

@media screen and (max-width:480px) {
  .title {
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
  }

  .subtitle {
    font-size: 3rem;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    /* margin-bottom: -3rem; */
  }
}
/* MQ Title end */
/* Title end */


/* Work start */
.work {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3% 0;
}

.left-section {
  width: 55%;
}

.right-section {
  width: 45%;
  display: inline;
}

.main-image {
  max-height: 450px;
  padding-left: 50px;
  margin-left: 50px;
}

/* Work MQ start */
@media screen and (max-width:798px) {
  .work {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .left-section, .right-section {
  width: 100%;
}

.main-image {
  max-height: 450px;
  width: 100%;
  padding-left: 0;
  margin-left: 0;
}

}

@media screen and (max-width:480px) {

  .container-center.visible {
    overflow-x: hideen;
  }

  .main-image, .second-main-image {
    padding: 10px;
    margin-left: 0;
  }

}

@media screen and (max-width:380px) {

  .container-center, .container {
    max-width: 320px;
  }
  .main-image, .second-main-image {
    max-width: 295px;
  }

}

/* Work MQ end */
/* Work end */

/* CTA start */
.cta {
  width: 100%;
  background-color: rgba(193, 154, 91, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta.cta2 {
background-color: var(--primaryColor);
}

.cta2 {
  padding-top: 100px;
}

.cta2-title {
  font-size: 3.5rem;
}

.cta2-title,
.cta2 .title {
  color: var(--mainWhite);
}

#cta-text-wrapper {
  padding: 1rem;
}

#cta-text {
  color: var(--mainWhite);
  margin-bottom: 75px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: .7em;
  line-height: 1.3em;
  border: 1px solid var(--mainWhite);
  transition: all .2s ease-in-out;
}

#cta-text:hover {
  border: 1px solid rgba(193, 154, 91, .5);
  color: var(--secondaryColor);
  background-color: var(--mainWhite);
  transform: scale(1.2);
}

.expect {
  width: 100%;
  margin-bottom: 100px;
}

.expect-wrapper {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

.expect-wrapper-item {
  padding: 15px;
  max-width: 250px;
}

.p2-expect{
  padding: 10px 10px 10px 40px;
}

@media screen and (max-width:798px) {

  .expect-wrapper {
    max-width: 768px;
  }
}

@media screen and (max-width:480px) {

  /* #cta-text-wrapper {
    margin-top: 0px;
  } */
}
/* CTA start */

/* Services start */
.services {
  padding: 25px 0;
  text-align: center;
  height: 100%;
}

.services-center {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
  padding: 5rem 0 2rem 0;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primaryColor);
  padding: 50px 15px;
}

.services-title {
  font-size: 2.5em;
  color: var(--secondaryBlack);
  opacity: .7;
}

.services-subtitle {
  font-size: 1.8em;
  padding-bottom: 25px;;
}

.services-text {
  max-width: 200px;
  padding-left: 10px;
}

/* MQ Services start */
@media screen and (max-width:798px) {
  .services {
  padding: 25px 0;
  text-align: center;
  max-height: 100%;
  }

  .services-center {
    padding: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    /* background-color: white; */
    padding: 50px 15px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width:480px) {
  .service {
    width: 75%;
  }

  .services-title {
    font-size: 2em;
    margin-bottom: -1rem;
  }

  .services-subtitle {
  font-size: 1.5em;
}
}
/* MQ Services end */
/* End of Services */

/* Start of Loader */
.loading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader-animation {
  width: 200px;
}

/* MQ Loader start */
@media screen and (max-width:480px) {
  .loader-animation {
    width: 100px;
  }
}

/* MQ Loader end */
/* End of Loader */

/* Start of FeaturedRooms */

.featured-images-section {
  display: flex;
  flex-flow: wrap;
  /* margin-left: 8px; */
  width: 95%;
  margin-left: 25px;
  justify-content: center;
}

/* setting fixed height that matches the fixed height of the images to the div closes row gutter-gap of 5px */
.featured-images {
  flex: auto;
  position: relative;
  height: 350px;
  min-width: 150px;
  margin: 0 5px 5px 0;
  overflow: hidden;
}

.featured-images:nth-child(4n+1):nth-child(4n+2) {
  width: 325px;
}

.featured-images:nth-child(4n+1):nth-child(4n+3) {
  width: 180px;
}

.featured-images:nth-child(4n+1):nth-child(4n+4) {
  width: 380px;
}


.image-style {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.img-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(193, 154, 91, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all .2s ease-in-out;
}

.img-overlay:hover {
  opacity: 1;
}

.img-overlay > * {
  transform: translateY(20px);
  transition: transform .2s;
}

.img-overlay:hover > * {
  transform: translateY(0);
}

/* MQ Start of FeaturedRooms */

@media screen and (max-width: 480px) {
  .featured-images-section {
    width: 100% !important;
    margin-left: 0px !important;
    padding: 0 !important;
  }

  .featured-images {
    position: relative;
    width: 100%;
    height: auto;
    margin: 30px 0;
    padding: 10px;
    flex: none;
    overflow: visible;
  }

  .image-style {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }

  .img-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 50px;
    background: rgba(193, 154, 91, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: none;
    opacity: 1;
    margin: 5px 0 10px 0;
    /* padding: 10px 0; */
  }

  .img-overlay > * {
    transform: translateY(0);
  }
}

@media screen and (max-width: 798px) {
   .featured-images-section {
     width: 100%;
     padding: 50px;
     margin: 0;
     /* margin-left: 20px; */
   }
}
/* MQ End of FeaturedRooms */
/* End of Services */

/* Process start */
.process {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6% 0;
}

.left {
  width: 36%;
  overflow-x: visible !important;
}

.right {
  width: 55%;
  padding-left: 100px;
}

.second-main-image {
  position: relative;
  left: -225px;
  max-height: 450px;
  margin-left: -25px;
}

/* Process MQ start */
@media screen and (max-width:798px) {
  .process {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left,
  .right {
    width: 100%;
    padding: 0;
  }

  .second-main-image {
    position: relative;
    left: 0;
    max-height: 450px;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 50px;;
  }

}

@media screen and (max-width:480px) {

  .second-main-image {
    max-width: 100vw;
    padding: 10px;
    margin-left: 0;
  }

}

/* Process MQ end */
/* Process end */

/* Contact start */
.contact {
  height: 90vh;
}

/* .contact .title-text-wrapper h1.title {
  line-height: 4rem;
} */

/* .contact .title-text-wrapper h2.subtitle {
  position: relative;
  top: .5rem;
} */

/* MQ Contact start */
@media screen and (max-width:798px) {
  
}
/* MQ Contact end */

/* Contact end */